<form [formGroup]="form" (ngSubmit)="changePassword()">

  <div class="form-group">
      <label for="oldpassword">Old Password</label>
      <input
          formControlName="oldpassword"
          id="oldpassword" 
          type="password" 
          class="form-control">
      <div *ngIf="oldpassword.touched && oldpassword.invalid" class="alert alert-danger">
        <div *ngIf="oldpassword.errors.required"> Old password is required </div>
        <div *ngIf="oldpassword.errors.shouldBeSameAsOld"> Old password is not valid </div>
      </div>
  </div>
  <div class="form-group">
      <label for="newpassword">New Password</label>
      <input 
          formControlName="newpassword"
          id="newpassword" 
          type="password" 
          class="form-control">
          <div *ngIf="newpassword.touched && newpassword.invalid" class="alert alert-danger">
            <div *ngIf="newpassword.errors.required"> New password is required </div>
          </div>
  </div>
  <div class="form-group">
    <label for="confirmpassword">Confirm Password</label>
    <input 
        formControlName="confirmpassword"
        id="confirmpassword" 
        type="password" 
        class="form-control">
        <div *ngIf="confirmpassword.touched && confirmpassword.invalid" class="alert alert-danger">
          <div *ngIf="confirmpassword.errors.required"> Confirm password is required </div>
      </div>
      <div *ngIf="confirmpassword.valid && form.invalid && form.errors.shouldBeSameAsNew" class="alert alert-danger"> Password does not match </div>
  </div>

  <button class="btn btn-primary" [disabled]="!form.valid" type="submit">Change Password</button>
</form>